---
import Blank from '$layout/blank.astro'
import HiddenGroup from 'src/components/hiddenGroup.astro';
import Success from 'src/components/success.astro';
import { prisma } from 'src/db'

type Mode = 'login' | 'success'
let mode = 'login'

let macAddr: string = ''

// on POST
if (Astro.request.method === 'POST') {
  async function validateCredentials(nickname: any, idCard: any) {
    if (typeof nickname !== 'string' || typeof idCard !== 'string') {
      return false
    }

    const camper = await prisma.camper.findFirst({
      where: {
        citizenId: idCard
      }
    })
    if (!camper) {
      return false
    }

    await prisma.camperLogin.create({
      data: {
        camperId: camper.id,
        nickname
      }
    })
    return true
  }
  
  // validate
  try {
    const data = await Astro.request.formData()

    console.log(data)

    const nickname = data.get('nickname')
    const idCard = data.get('idCard')
    const macAddress = data.get('mac')

    macAddr = macAddress?.toString() ?? ''
    
    const ok = await validateCredentials(nickname, idCard)
    if (ok) {
      mode = 'success'
    } else {
      mode = 'Nickname or ID card is incorrect'
      Astro.response.status = 401
    }
  } catch (e) {
    console.error(e)
    mode = 'Unexpected error'
    Astro.response.status = 401
  }
}
---

{mode === 'success' ? (
  <Success macAddr={macAddr} />
) : (
<Blank>
  <h1 class="text-4xl font-bold text-white text-center pb-10">เข้าสู่ระบบ Wi-Fi Camper</h1>
  {mode !== 'login' && (
    <div class="bg-red-300 p-6 font-serif rounded-2xl space-y-4 mb-6 text-red-950">
      {mode}
    </div>
  )}
  <form class="bg-[#f3f3f3] p-6 font-serif rounded-2xl space-y-4" method="post">
    <div>
      <label for="nickname" class="block"
        >ชื่อเล่น<span class="text-red-500">*</span></label
      >
      <input id="nickname" name="nickname" type="text" class="w-full p-4 rounded-lg border border-[#777777]" required />
    </div>
    <div>
      <label for="idCard" class="block"
        >เลขบัตรประจำตัวประชาชน<span class="text-red-500">*</span></label
      >
      <input id="idCard" name="idCard" type="text" class="w-full p-4 rounded-lg border border-[#777777]" required />
    </div>
    <div class="flex justify-end">
      <a href={`/guest?${Astro.url.searchParams.toString()}`} class="underline">สำหรับ staff/guest</a>
    </div>
    <div class="flex justify-center">
      <HiddenGroup />
      <button type="submit" class="font-semibold px-6 py-4 rounded-lg bg-[#07e23e]">เข้าสู่ระบบ</button>
    </div>
  </form>
</Blank>
)}
