---
import './index.css'
import '@fontsource/ibm-plex-sans-thai'
import '@fontsource/bai-jamjuree'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Captive Portal</title>
  </head>
  <body class="space-y-16 py-10 px-6">
    <header class="max-w-lg mx-auto">
      <img src="/header-1.svg" alt="Young Webmaster Camp" class="mx-auto w-full h-auto" />
    </header>
    <main class="max-w-lg mx-auto">
      <slot />
    </main>
    <footer class="max-w-lg mx-auto">
      <img src="/footer.svg" alt="Support by Livingsoft" class="mx-auto w-full h-auto grayscale" />
    </footer>
  </body>
</html>
